#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-table {
  width: 300px;
  background-color: #181818;
  border: 4px solid black;
  border-style: groove;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.login-table input {
  background-color: black;
}

.login-button {
  font-size: large;
}

ul {
  text-align: left;
}

button {
  border: 2px solid black;
  border-style: outset;
  background-color: black;
  color: white;
  padding: 0.2rem;
  font-size: medium;
}

button:active {
  border-style: inset;
  color: #505050;
}

.important-button {
  margin-left: 0.5rem;
}

input {
  padding: 0.25rem;
}

.error-message {
  color: red;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}